body {
  margin: 0;
  background: #ccc;
  font-family: sans-serif;
}

header {
  height: 500px;
  background: #888;
}

header h1 {
  margin: 0;
  font-size: 4em;
  text-align: center;
  line-height: 500px;
}

main {
  width: 900px;
  margin: auto;
}

section {
  background: #666;
}

p {
  color: #fff;
}

footer {
  background: #000;
  padding: 20px;
  text-align: center;
}
footer p {
  display: inline;
  margin: 10px;
  font-size: 1.5em;
}

footer img {
  vertical-align: middle;
}
